doctype
html
	head
		title Login Page
		meta(charset = "utf-8")
		meta(http-equiv="X-UA-Compatible" , content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		

		//style sheets 

		//link(href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css",rel="stylesheet")
  
		link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css",rel="stylesheet")

		link(href="/css/css for adding normal users.css",rel="stylesheet")
	body
		.container-fluid
			div.a
			div.b
				h1 Settings
					br
				h3
					strong Max Books That Can Be Issued 
				table(class = "table" ,cellpadding=4 , border=0)

					tr
						td.col-xs-5
							Max Books
						td
							input(type="number" , id ="max" ,name="max" ,min="1",class="col-xs-11",placeholder = "enter positive number here.....", value="#{max}" required)
					tr(class="error_row_1" )
						td#id1
						td#id1
							nav(class="col-xs-10", id="error_message_1") #{error_message_1}
					tr
						td.col-xs-5
						td
							button(class = "btn btn-lg btn-primary",id="max1") Change
				br
				br
				h2
					strong Change Value Of Fine
				table(class = "table" ,cellpadding=4 , border=0)
					tr 
						td.col-xs-5	Fine for 1st week
						td
							input(type="number" , id ="fine1" ,name="fine1" ,min="1",class="col-xs-11",placeholder = "enter fine for 1st week here....." , value="#{fine1}" required)
					tr(class="error_row_2" )
						td#id1
						td#id1
							nav(class="col-xs-10", id="error_message_2") #{error_message_2}


					tr 
						td.col-xs-5 Fine for 2nd week
						td
							input(type="number" , id ="fine2" ,name="fine2" ,min="1",class="col-xs-11",placeholder = "enter fine for 2nd week here....." , value="#{fine2}" required)
					tr(class="error_row_3" )
						td#id1
						td#id1
							nav(class="col-xs-10", id="error_message_3") #{error_message_3}


					tr 
						td.col-xs-5 Fine for 3rd week
						td
							input(type="number" , id ="fine3" ,name="fine3" ,min="1",class="col-xs-11",placeholder = "enter fine for 3rd week here....." , value="#{fine3}" required)
					tr(class="error_row_4" )
						td#id1
						td#id1
							nav(class="col-xs-10", id="error_message_4") #{error_message_4}
					tr
						td.col-xs-5
						td
							button(class = "btn btn-lg btn-primary ",id="fine") Change Fine History
			div.c 
		//javascript files placed at end for better speed

		script( src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")


		script(src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")


		script(src='/javascript/jquery for settings page.js' )

